body {
    margin: 0px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: rgb(250, 250, 250);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* Proporción 16:9 para el contenedor de video */
}

#my-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    /* Ajusta el ancho del reproductor según tus preferencias */
    height: auto;
    /* La altura se ajustará automáticamente según la proporción de aspecto 16:9 */
}

#preview {
    width: 200px !important;
    cursor: pointer;
}

.CardChanel:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.CardChanel {
    text-align: center;
}

/*loading*/
/* Estilos para el fondo del modal */
/* Estilos para el fondo del modal */
.loading-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading-container {
    text-align: center;
}

/* Estilos para el spinner */
.loading-spinner {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border: 0.3rem solid #f3f3f3;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loading-message {
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.875rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/*end loading*/