<div class="modal fade" id="SubscribeVideoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subscribe Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="ConainerSubscribeVideo">
                    <div class="col-lg-12" style="text-align: center;">
                        <label for="IdVideoSubscribe">Video Id</label>
                        <input type="text" id="IdVideoSubscribe" placeholder="Id Video" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"  id="BtnSubscribeVideo">Subscribe</button>
            </div>
        </div>
    </div>
</div>