<br>
<h1 id="home">Subscriptions</h1>
<br>
<div class="row box" id="Subscriptions">

</div>
<div class="modal fade" id="CreateChanelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Contenido del modal -->
            <div class="modal-header">
                <h5 class="modal-title">Create Chanel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="ConainerCreateChanel">
                    <div class="col-lg-12" style="text-align: center;">
                        <img id="preview" src="img/imgplaceholder.png" alt="Image preview..." onclick="AppView.SelectChanelImage()">
                    </div>
                    <br>
                   
                    <div class="col-lg-12" style="text-align: center;">
                        <label for="chanelName">Chanel Name</label>
                        <input type="text" id="chanelName" placeholder="Chanel Name" class="form-control">
                    </div>
                    <div class="col-lg-12" style="text-align: center;">
                        <label for="Fee">Fee in XCH</label>
                        <input type="number" id="Fee" placeholder="Fee" max=".5" value="0" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="AppView.CreateChanel()">Create Chanel (1 mojo)</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SubscribeChanelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Contenido del modal -->
            <div class="modal-header">
                <h5 class="modal-title">Subscribe Chanel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="row" id="ConainerSubscribeChanel">
                    <div class="col-lg-12" style="text-align: center;">
                        <label for="chanelName">Chanel Id</label>
                        <input type="text" id="IdChanelSubscribe" placeholder="Chanel Id" class="form-control">
                    </div>
                   
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="AppView.SubscribeChanel()">Subscribe </button>
            </div>
        </div>
    </div>
</div>