<br>
<h1 id="LblVideoName"></h1>
<div id="LblIdStore"></div>
<br>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="video-container">
            <video id="CurrentPlayer" class="video-js vjs-theme-city" controls preload="auto" width="100%"
                height="100%">
            </video>
            <div class="progress">
                <div id="progress-bar" class="progress-bar bg-danger" aria-valuenow="3" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100">
                    3%
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>